tcc/
*.exe
*.dll
tools/lua/lua*
tests/darkbox*
tests/makemenu*
tests/ptnio*
extras/tests/cbatbox*
extras/tests/choice_*
extras/tests/*tcs_o*
extras/tests/darkbox_*
tests/dos9
tests/misc
bin/
doc/tea

tests/network/bin_output
$*
.ptnio_*
